@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 16px;
  height: 16px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
}
.blueSpinner {
  width: 20px;
  height: 20px;
  background-image: url('https://www.dropbox.com/s/tnfa3bjmgv8xdxt/largeBusy.gif?dl=0');
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #eeeeee7a;
}
